body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f7f6;
    max-width: 50vw;
  }
  
  h1 {
    color: #333;
  }
  
  form, .result-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input[type="text"] {
    width: 100%;
    font-size: large;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* So padding doesn't affect width */
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .result-container {
    display: none; /* Initially hidden */
  }
  
  #result {
    margin-top: 20px;
  }